* {
  box-sizing: border-box;
}

body {
  font-family: mono;
  font-size: 0.75rem;
  color: #4c566a;
  padding: 10px;
  /* background: #eceff4; */
  /* background: white; */
}

.header {
  float: left;
  text-align: left;
  padding: 5px;
}

.header h1 {
  font-size: 30px;
  float: left;
  display: block;
  color: #4c566a;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

.flash {
  color: #bf616a;
  font-size: 0.8rem;
}

.topnav {
  overflow: hidden;
  background-color: white;
  /* border: 1px solid #4c566a; */
}

.topnav a {
  font-size: 0.85rem;
  float: right;
  display: block;
  /* color: #3b4252; */
  background-color: #3b4252;
  color: white;
  text-align: center;
  margin: 34px 16px;
  padding: 5px;
  /* text-decoration: underline overline; */
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}

.topnav a:hover {
  /* color: #81a1c1; */
  background-color: #81a1c1;
}

.card {
  background-color: white;
  /* border: 1px solid #4c566a; */
  padding: 5px 20px;
  margin-top: 20px;
  padding-bottom: 25px;
}

.grid-item h4 {
  font-size: 0.9rem;
}

.grid-item h4 a {
  font-size: 0.9rem ;
  background: none;
  text-decoration: underline;
  color: #4c566a;
}

.grid-item h4 a:hover {
  font-weight: bold;
  border: none;
  color: #81a1c1;
}

.card a {
  /* text-decoration: underline overline; */
  text-decoration: none;
  background-color: #8fbcbb;
  /* color: #bf616a; */
  padding: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
}

.card a:hover {
  /* background-color: #a3be8c; */
  /* border: 1px solid #4c566a; */
  opacity: 0.5;
}

.card-header {
  text-align: center;
  padding-bottom: 15px;
  /* border-bottom: 1px solid #4c566a; */
  margin-bottom: 0px;
  font-size: 1.1rem;
}

.card-header-form {
  padding-bottom: 15px;
  margin-bottom: 0px;
  font-size: 1.1rem;
}

.end-line {
  text-align: center;
  padding-bottom: 15px;
  border-top: 1px solid #4c566a;
  margin-bottom: 0px;
}

.card-info {
  color: #81a1c1;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-grid-six {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-grid-seven {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-grid-five {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card-grid-two {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.grid-item {
  padding: 5px;
  text-align: center;
  font-size: 0.75rem;
}

.card-table table{
  margin: auto;
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
}

.card-table th {
  vertical-align: middle;
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  border-top: 1px solid #4c566a;
  border-bottom: 1px solid #4c566a;
  border-radius: 3px;
}

.card-table td {
  vertical-align: middle;
  padding: 5px;
}

.card-table tr:nth-child(even) {
  color: #81a1c1
}

.card-table tr:nth-child(even) a{
  color: #81a1c1;
}

.card-table tr:nth-child(odd) a{
  color: #4c566a;
}

.card-table tr a {
  font-weight: normal;
  background: none;
  text-decoration: underline;
}

.card-table tr a:hover {
  font-weight: bold;
  background: none;
}

.card-table-links {
  text-align: center;
  margin-bottom: 15px;
}

.water-all-date {
  width: 25%;
  margin: auto;
  text-align: center;
}

input[type=text] {
  font-size: 0.75rem;
  width: 30%;
  /* margin: 8px 0; */
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: none;
  /* border-bottom: 1px solid #81a1c1; */
  border-bottom: 1px solid #4c566a;
  color: #81a1c1;
}

input[type=date] {
  font-size: 0.75rem;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #4c566a;
  color: #bf616a;
}

select {
  font-size: 0.75rem;
  margin-bottom: 20px;
  color: #bf616a;
  /* color: #8fbcbb; */
  background-color: white;
  border: none;
  border-bottom: 1px solid #4c566a;
  padding: 3px 10px;
  text-align: left;
  -webkit-appearance: none;
}

label {
  font-weight: bold;
  font-size: 1.1em;
}

input[type=submit] {
  background-color: #8fbcbb;
  color: white;
  padding: 3px 10px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

input[type=submit]:hover {
  /* border: 1px solid #4c566a; */
  opacity: 0.5;
}

.delete {
  /* text-decoration: underline overline; */
  text-decoration: none !important;
  background-color: #bf616a !important;
  /* color: #bf616a; */
  padding: 3px !important;
  border-radius: 3px !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 0.75rem !important;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  text-align: center;
  padding: 10px;
  background-color: white;
}

.footer span {
  /* border-top: 1px solid #81a1c1; */
  /* text-decoration: overline; */
  font-size: 0.6rem;
}

@media screen and (max-width: 600px) {
  .column{
    width: 100%;
  }
}

