* {
  box-sizing: border-box;
}

body {
  font-family: mono;
  color: #4c566a;
  padding: 10px;
  /* background: #eceff4; */
  /* background: white; */
}

.header {
  float: left;
  text-align: left;
  padding: 5px;
}

.header h1 {
  font-size: 30px;
  float: left;
  display: block;
  color: #4c566a;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: white;
  /* border: 1px solid #4c566a; */
}

.topnav a {
  font-size: 0.85rem;
  float: right;
  display: block;
  color: #3b4252;
  text-align: center;
  padding: 34px 16px;
  text-decoration: underline overline;
}

.topnav a:hover {
  color: #81a1c1;
}

.card {
  background-color: white;
  /* border: 1px solid #4c566a; */
  padding: 5px 20px;
  margin-top: 20px;
  padding-bottom: 25px;
}

.card a {
  text-decoration: underline overline;
  color: #bf616a;
  font-size: 0.75rem;
}

.card a:hover {
  font-weight: bold;
}

.card-header {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #81a1c1;
  margin-bottom: 0px;
}

.card-info {
  color: #81a1c1;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item {
  padding: 5px;
  text-align: center;
  font-size: 0.75rem;
}

.card-table table{
  margin: auto;
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
}

.card-table th {
  vertical-align: middle;
  padding: 5px;
  padding-top: 20px;
}

.card-table td {
  vertical-align: middle;
  padding: 5px;
}

.card-table tr:nth-child(even) {
  color: #81a1c1
}

.card-table tr:nth-child(even) a{
  color: #81a1c1
}

.card-table tr:nth-child(odd) a{
  color: #4c566a
}

.card-table-links {
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  text-align: center;
  padding: 10px;
  background-color: white;
}

.footer span {
  /* border-top: 1px solid #81a1c1; */
  /* text-decoration: overline; */
  font-size: 0.6rem;
}

@media screen and (max-width: 600px) {
  .column{
    width: 100%;
  }
}

