<h4 class="flash"><%= flash[:message] %></h4>
<div class="card">
  <%# <h4 class="card-header">Welcome to Planted</h4> %>
  <div class="card-grid">
    <div class="grid-item-space">   
      <h4 style='text-align:center'>Add Plants</h4>
      <h4 style='text-align:center'>Log Events</h4>
      <h4 style='text-align:center'>Track Schedules</h4>
      <%# <p><strong>Common Name</strong></p> %>
      <p class="card-info"></p><br><br>
      <a href="/login" class="card-links">Login</a>
      <a href="/signup" class="card-links">Sign Up</a>
    </div>
  </div>
</div>
