<h2>Signup</h2><br>
<h4><%= flash[:message] %></h4>
<form action="/signup" method="post">
  <label for="email">Email: </label><br>
  <input type="email" id="email" name="user[email]" required>
  <br>
  <label for="username">Create Username: </label><br>
  <input type="text" id="username" name="user[username]" required>
  <br>
  <label for="password">Create Password: </label><br>
  <input type="password" id="password" name="user[password]" required>
  <br><br>
  <input type="submit" value="Create User">
</form>
